<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Categorías</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/ConsultCategory.css">
</head>
<body>
    <img src="img/fondo1.png" alt="Fondo" class="background">

    <!-- Barra lateral -->
    <div class="sidebar">
       <ul class="menu">
        <a class="menu" href="Menu.html">
           <li  class="menu-item">
               <i class="icon fa fa-home"></i>
               <span>Menu principal</span>
           </li>
        </a>
        <a class="menu" href="ConsultCategory.html">
           <li class="menu-item">
               <i class="icon fas fa-th-large"></i>
               <span>Categorías</span>
           </li>
        </a> 
        <a class="menu" href="ConsultProduct.html">
           <li class="menu-item">
               <i class="icon fas fa-box"></i>
               <span>Productos</span>
           </li>
        </a>
        <a class="menu" href="ConsultProvide.html">  
           <li class="menu-item">
               <i class="icon fas fa-truck"></i>
               <span>Proveedores</span>
           </li>
        </a>
        <a class="menu" href="ConsultarUsuarios.html"> 
           <li class="menu-item">
               <i class="icon fas fa-users"></i>
               <span>Usuarios</span>
           </li>
        </a>
        <a href="login.html" class="menu">
           <li class="menu-item">
               <i class=" icon fas fa-sign-out-alt"></i>
               <span>Salir</span>
           </li>
        </a>
       </ul>
       <div class="profile">
           <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile Picture">
           <div>
               <p>Nombre del usuario</p>
               <small>Cuenta Free</small>
           </div>
       </div>
   </div>
   <br>
   <div class="form-container">
       <div class="form-header">
           <h2>CONSULTAR CATEGORIAS</h2>
       </div>
       <form class="registration-form">
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Buscar..." />
            <button class="search-button"><i class="fas fa-search"></i></button>

            <button class="plus-button"  id="addProduct"><i class="fas fa-plus"></i> Agregar</button>
    <!-- Modal -->
    <div class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>REGISTRO DE PROVEEDOR</h2>
            </div>
            <br>
            <div class="modal-body">
               
                <form>
                    <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre del producto" required>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" name="descripcion" placeholder="Descripcion del producto" required>
                </div>
                
                </form>
           
            </div>
            <div class="modal-footer">
                <button class="close-modal">Cerrar</button>
                <button class="registrar">Registrar</button>
            </div>
        </div>
    </div>
            <br>
        </div>
        <!-- Table -->
        <main class="content">
            <table class="provider-table">
                <thead>
                    <tr>
                        <th> NOMBRE</th>
                        <th>DESCRIPCION </th>
                        <th>ESTADO</th>
                        <th>GESTIONAR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jabón</td>
                        <td>Producto de limpieza</td>
                        <td></td>
                        <td>
                            <br><a href="EditCategory.html" class="action-button"><i class="fas fa-edit"></i></a> 
                            <br>
                            <button class="habilitar"><i class="fas fa-check-circle">  Habilitar</i></button>
                            <button class="deshabilitar"><i class="fas fa-times-circle">Deshabilitar</i></button>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>Atún</td>
                        <td>Enlatados</td>
                        <td></td>
                        <td>  <button class="action-button"><i class="fas fa-edit"></i></button> 
                            <button class="habilitar"><i class="fas fa-check-circle">  Habilitar</i></button>
                            <button class="deshabilitar"><i class="fas fa-times-circle">Deshabilitar</i></button>
                            
                        </td>

                    </tr>
                </tbody>
            </table>
        </main>
    </div>
           </div>
           <br> 
       </form>
   </div>
   <script src="js/script.js"></script>
</body>
</html>


