<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/EditProvide.css">
</head>
<body>
    <img src="img/fondo1.png" alt="Fondo" class="background">
    <!-- Barra lateral -->
    <div class="sidebar">
        <ul class="menu">
            <a class="menu" href="Menu.html">
               <li  class="menu-item">
                   <i class="icon fa fa-home"></i>
                   <span>Menu principal</span>
               </li>
            </a>
            <a class="menu" href="ConsultCategory.html">
               <li class="menu-item">
                   <i class="icon fas fa-th-large"></i>
                   <span>Categorías</span>
               </li>
            </a> 
            <a class="menu" href="ConsultProduct.html">
               <li class="menu-item">
                   <i class="icon fas fa-box"></i>
                   <span>Productos</span>
               </li>
            </a>
            <a class="menu" href="ConsultProvide.html">  
               <li class="menu-item">
                   <i class="icon fas fa-truck"></i>
                   <span>Proveedores</span>
               </li>
            </a>
            <a class="menu" href="ConsultarUsuarios.html">  
               <li class="menu-item">
                   <i class="icon fas fa-users"></i>
                   <span>Usuarios</span>
               </li>
            </a>  
            <a href="login.html" class="menu">
               <li class="menu-item">
                   <i class=" icon fas fa-sign-out-alt"></i>
                   <span>Salir</span>
               </li>
            </a>
       </ul>
       <div class="profile">
           <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile Picture">
           <div>
               <p>Nombre del usuario</p>
               <small>Cuenta Free</small>
           </div>
       </div>
   </div>
   <br>
   <div class="form-container">
       <header class="form-header">
           EDITAR PROVEEDOR
       </header>
       <form class="registration-form">
           <div class="form-row">
           <div class="form-group">
            <label for="nombres" >NOMBRES*</label>
            <input placeholder="Ingresa el nombre" type="text" id="nombre" name="nombre" required>
            <br>
            <label for="nombres" >RFC*</label>
            <input placeholder="Ingresa RFC" type="text" id="rfcProvide" name="rfcProvide" required>
        
              
           </div>
           <div class="form-group">
            <label for="nombres" >DIRECCION*</label>
            <input placeholder="Ingresa la dirección" type="text" id="rfcProvide" name="rfcProvide" required>
        
               <br> 
               <label for="nombres" >TELEFONO*</label>
            <input placeholder="Ingresa el telefono" type="text" id="rfcProvide" name="rfcProvide" required>
        
           </div>
       </div>
       <div class="form-row">
           <div class="form-group">
               <label for="correo">CORREO ELECTRÓNICO*</label>
               <input placeholder="Ingresa el correo " type="text" id="precio_unidad" name="precioUnidad" required>
           </div>
       </div>
       <div class="form-footer">
           <button type="submit">ACTUALIZAR</button>
       </div>
       </form>
   </div>
       
</body>
</html>
