<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/EditProduct.css">
</head>
<body>
    <img src="img/fondo1.png" alt="Fondo" class="background">
     <!-- Barra lateral -->
     <div class="sidebar">
        <ul class="menu">
            <a class="menu" href="Menu.html">
               <li  class="menu-item">
                   <i class="icon fa fa-home"></i>
                   <span>Menu principal</span>
               </li>
            </a>
            <a class="menu" href="ConsultCategory.html">
               <li class="menu-item">
                   <i class="icon fas fa-th-large"></i>
                   <span>Categorías</span>
               </li>
            </a> 
            <a class="menu" href="ConsultProduct.html">
               <li class="menu-item">
                   <i class="icon fas fa-box"></i>
                   <span>Productos</span>
               </li>
            </a>
            <a class="menu" href="ConsultProvide.html">  
               <li class="menu-item">
                   <i class="icon fas fa-truck"></i>
                   <span>Proveedores</span>
               </li>
            </a>
            <a class="menu" href="ConsultarUsuarios.html">  
               <li class="menu-item">
                   <i class="icon fas fa-users"></i>
                   <span>Usuarios</span>
               </li>
            </a>  
            <a href="login.html" class="menu">
               <li class="menu-item">
                   <i class=" icon fas fa-sign-out-alt"></i>
                   <span>Salir</span>
               </li>
            </a>
       </ul>
       <div class="profile">
           <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile Picture">
           <div>
               <p>Nombre del usuario</p>
               <small>Cuenta Free</small>
           </div>
       </div>
   </div>
   <br>
   <div class="form-container">
       <header class="form-header">
           EDITAR PRODUCTOS
       </header>
       <form class="registration-form">
           <div class="form-row">
           <div class="form-group">
            <label for="nombres" >NOMBRES*</label>
            <input placeholder="Ingresa el nombre" type="text" id="nombre" name="nombre" required>
            <br>
               <label for="nombres" >CATEGORÍA*</label>
               <select id="categoria" name="categoria" required>
                <option value="">Seleccione una opción</option>
                <option value="categoria1">Categoría 1</option>
                <option value="categoria2">Categoría 2</option>
            </select>
           </div>
           <div class="form-group">
               <label for="apellidos">CANTIDAD*</label>
               <input placeholder="Ingrese cantidad"  type="number" id="cantidad" name="cantidad" required>
               <br> 
               <label for="telefono">PROVEEDOR*</label>
               <select  id="proveedor" name="proveedor" required>
                <option value="opc">Seleccione una opción</option>
                <option value="proveedor1">Proveedor 1</option>
                <option value="proveedor2">Proveedor 2</option>
            </select>
           </div>
       </div>
       <div class="form-row">
           <div class="form-group">
               <label for="correo">PRECIO UNITARIO*</label>
               <input placeholder="Ingresa el precio por unidad" type="number" id="precio_unidad" name="precioUnidad" required>
           </div>
       </div>
       <div class="form-footer">
           <button type="submit">ACTUALIZAR</button>
       </div>
       </form>
   </div>
       
</body>
</html>
