<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/RecoverPass.css">
    <title>Document</title>
</head>
<body>
    <img src="img/fondo1.png" alt="Fondo" class="background">
    <div class="container">
        <!-- Header -->
        <header class="header">
            
            <h1>RECUPERACION DE CONTRASEÑA</h1>
        </header>

        <!-- Main Content -->
        <main class="content">
            <p>INGRESE EL CORREO ELECTRÓNICO ASOCIADO A LA CUENTA</p>
            <form class="form">
                <div class="form-group">
                    <label for="correo">CORREO ELECTRÓNICO*</label>
                    <input type="email" id="correo" name="correo" required>
                </div>
                <button type="submit" class="submit-button">ENVIAR CÓDIGO</button>
            </form>
        </main>
    </div>
</body>
</html>